@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100vw;
  background-color: black;
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 750px;
  padding: 0px 5%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

nav img {
  width: 110px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  margin: 0px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
li:hover {
  color: #0c8bfd;
  scale: 1.1;
}

button {
  background-color: #0c8bfd;
  color: #ffff;
  font-size: 15px;
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.login {
  font-size: 16px;
  border-radius: 20px;
  padding: 0px 20px !important;
  transition: all 0.2s ease-in-out;
}

.login:hover {
  color: #0c8bfd;
  background-color: #ffff;
  scale: 1.05;
}

.home-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.right-content {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content h1 {
  font-size: 80px;
  margin: 10px 0px;
  font-weight: normal;
  margin-bottom: 25px;
}

h1 em {
  color: #0c8bfd;
}

.right-content p {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
  color: gray;
}

.get-started-button {
  transition: all 0.2s ease-in-out;
  border: 2px solid #0c8bfd;
}

.get-started-button:hover {
  color: #0c8bfd;
  background-color: #ffff;
  scale: 1.05;
}

.try-free-button {
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #ffff;
  transition: all 0.2s ease-in-out;
}

.try-free-button:hover {
  background-color: #0c8bfd;
  border: 2px solid #0c8bfd;
  scale: 1.05;
}

.left-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo Container */

.logo-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(31, 30, 30);
  padding: 0px 5%;
}

.logo-container img {
  background-color: transparent;
  width: 110px;
}

/* Service Container */

.service-container {
  background-color: #ffff;
  width: 100%;
  color: #000;
  height: fit-content;
  padding: 0px 5%;
}

.services-top-container {
  margin-top: 30px;
}

.services-heading {
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;
}
.services-description {
  text-align: center;
  margin-bottom: 30px;
  padding: 0px 35%;
  color: gray;
}

.services-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
  align-items: flex-end;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
  width: 260px;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.service-card img {
  margin: 15px 0px;
  width: 70px;
}

.service-card h3 {
  text-align: center;
  margin: 15px 0px;
}
.service-card p {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.card-2 {
  background-color: #000;
  color: #fff;
  border: none;
  box-shadow: 6px 8px 15px rgb(129, 126, 126);
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}
.card-2:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid grey;
  box-shadow: none;
  margin-bottom: 0px;
}

.card-1,
.card-3 {
  transition: all 0.3s ease-in-out;
}

.card-1:hover,
.card-3:hover {
  background-color: #000;
  color: #fff;
  border: none;
  box-shadow: 6px 8px 15px rgb(129, 126, 126);
  margin-bottom: 30px;
}

.services-bottom-container {
  width: 100%;
  padding: 0px 7%;
  margin-top: 80px;
  margin-bottom: 50px;
}

.bottom-container-heading {
  font-size: 55px;
  margin-bottom: 25px;
}

.services-feature-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left-feature-container {
  width: 40%;
  padding: 4px 15px;
}

.left-feature-container ul {
  display: flex;
  border: 2px solid gray;
  border-radius: 30px;
  padding: 14px 12px;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 700;
  cursor: pointer;
  height: fit-content;
}

.left-feature-container ul:first-child {
  background-color: #0c8bfd;
  color: #fff;
  border: 2px solid #0c8bfd;
}

.left-feature-container ul img {
  width: 24px;
}

.right-feature-container {
  background-color: rgb(15, 15, 15);
  color: #fff;
  padding: 12px 5px;
  border-radius: 12px;
  width: 30%;
  height: fit-content;
}
.right-feature-container ul {
  background-color: rgb(53, 52, 52);
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 8px 10px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
}

/* Hosting Plan Section */

.hosting-plan {
  width: 100%;
  height: fit-content;
  background-color: #000;
  padding: 50px 5%;
}

.hosting-header h3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 45px;
  padding: 2px 15%;
}

.hosting-header h3 img {
  margin-top: 30px;
}

.plan-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  justify-content: space-around;
  margin-top: 50px;
}

.plan-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin: 5px 20px;
  border-radius: 15px;
  padding: 10px 15px;
  width: 280px;
  cursor: pointer;
}

.card-upper-container {
  border-bottom: 2px solid grey;
  margin-bottom: 15px;
}
.card-upper-container h3 {
  margin-bottom: 15px;
}
.card-upper-container h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

.card-upper-container h1 span {
  color: gray;
  font-size: 20px;
}
.card-upper-container p {
  margin-bottom: 15px;
}

.card-lower-container ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0px;
}
.card-lower-container ul img {
  margin-right: 10px;
}

.select {
  margin-top: 15px;
  cursor: pointer;
  border: 2px solid #0c8bfd;
  transition: all 0.2s ease-in-out;
}

.select:hover {
  background-color: #fff;
  color: #0c8bfd;
  border: 2px solid #0c8bfd;
}

.regular .select {
  margin-top: 30px;
}

.standard {
  color: #fff;
  background-color: #0c8bfd;
}

.standard .select {
  color: #0c8bfd;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.standard .select:hover {
  background-color: #0c8bfd;
  color: #fff;
  border: 2px solid #fff;
}
