* {
  background-color: white;
  margin: 4px;
}

.expense_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  max-width: 70%;
  padding: 4px;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgb(133, 131, 131);
}

.expense_items_date {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  font-size: 17px;
  font-weight: 500;
  margin: 5px 10px;
  box-shadow: 2px 2px 5px rgb(88, 88, 88);
  border-radius: 10px;
}

.expense_date,
.expense_month,
.expense_year {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: 2px;
}

.expense_items_title {
  display: flex;
  flex-grow: 1;
  font-size: 25px;
  font-weight: 600;
  margin: 0px 10px;
}

.expense_items_amount {
  font-size: 25px;
  font-weight: 700;
  margin: 0px 10px;
}
