.card {
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(58, 57, 57);
  width: 100%;
  height: fit-content;
  max-width: 800px;
  padding: 10px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
