@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
  font-family: "Barlow", sans-serif;
}

/* Container */

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

[aria-label="Home-Screen"] {
  height: 100%;
  width: 100%;
}

/* Navigation Menu */

nav {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 120px;
}

.navbar {
  display: flex;
  flex-grow: 1;
}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  margin: 2px 3%;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

li:hover {
  font-weight: bold;
  scale: 1.2;
  color: rgb(93, 250, 255);
}

.nav-right-content {
  display: flex;
  flex-direction: row;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.language h4 {
  cursor: pointer;
}

.arrow {
  width: 12px;
  height: 12px;
  margin: 0px 5px;
  cursor: pointer;
}

.nav-contact-button {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

.nav-contact-button img {
  position: absolute;
  left: 0;
}

.contact-btn {
  z-index: 1;
  cursor: pointer;
}

/* End of Navigation menu */

/* Home Container */

.Home-Container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 695px;
  position: relative;
  box-sizing: border-box;
}

.left-content {
  width: 60%;
  height: 100%;
  margin-left: 3%;
  position: relative;
  padding: 2% 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-content h1 {
  position: relative;
  font-size: 90px;
  margin: 2% 0px;
  margin-top: 0px !important;
  z-index: 1;
}

.left-content > p {
  font-size: 18px;
  margin: 2% 0px;
  margin-right: 50%;
}

.left-content h1 span {
  color: #f637ec;
}

.getting-started-btn {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-start {
  position: absolute;
  left: 0;
}

.started-btn {
  z-index: 1;
  margin-left: 22px;
  font-weight: bold;
}
.rightarrow {
  width: 40px;
  margin-left: 10px;
}

.home-bottom-content {
  display: flex;
  flex-direction: row;
}

.home-bottom-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20pxx;
}

.user {
  display: flex;
  flex-direction: row;
}

.user h2 {
  font-size: 40px;
  width: 60%;
}
.user h2 span {
  font-size: 35px;
  color: #f637ec;
}
.user p {
  font-size: 20px;
  font-weight: lighter;
  margin-right: 30px;
}

.user2 {
  margin-left: 30px;
}

.Home-Container > img:first-of-type {
  position: absolute;
  right: 10%;
  top: 0%;
  height: 80%;
}
.Home-Container > img:last-of-type {
  position: absolute;
  right: 0;
  bottom: 5%;
  top: 8%;
  height: 80%;
}

/* End of main Section */
/* Logo Section */

.logo-section {
  background-color: rgb(51, 50, 50);
  width: 100%;
  height: 130px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo-section img {
  width: 150px;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}
.logo-section img:hover {
  scale: 1.1;
}

/* End of Logo Section */
/* Feature Section */

.feature-section {
  height: 100%;
  width: 100%;
}

.feature-container {
  height: 100%;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feature-upper-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.upper-left-container {
  display: flex;
  width: 60%;
  margin-left: 3%;
}

.upper-left-container h1 {
  font-size: 90px;
}

.upper-left-container h1 span {
  color: #f637ec;
}

.upper-right-container {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.upper-right-container p {
  margin: 22%;
}

.feature-lower-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
  width: 100%;
  box-sizing: border-box;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feature-box img {
  width: 150px;
  height: 150px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  margin: 5px 50px;
  background-color: rgb(68, 67, 67);
  border-top: 2px solid #ffff;
  border-left: 2px solid #ffff;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.feature-box:hover {
  scale: 1.1;
}

.feature-box h3 {
  text-align: center;
  margin: 10px 5px;
}

.cloud-box {
  margin-bottom: 80px;
  background-color: rgb(155, 151, 151);
}

/* End of Feature Section */
/* Card Choice Section */

.card-choice-section {
  background-color: #ffff;
  width: 100%;
  height: 100%;
  color: black;
}

.card-choice {
  height: 850px;
  margin: 20px 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.card-choice h1 {
  font-size: 70px;
  margin: 25px 22%;
  text-align: center;
  z-index: 1;
}

.card-choice h1 span {
  color: #f637ec;
}
.card-choice p {
  margin: 10px 32%;
  z-index: 1;
  text-align: center;
}

.card-choice img {
  width: 55%;
  height: 75%;
  position: absolute;
  bottom: 0;
}

/* End of  Card Choice Section */
