.all_task {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
}

@media screen and (max-width: 425px) {
  .all_task {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
