* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[aria-label="Container"] {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  background-image: url(../Assets/Photos/futuristic-bg.png);
  width: 100%;
  height: 700px;
  color: #fff;
  padding: 10px 5%;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
  cursor: pointer;
}

nav img {
  width: 120px;
  margin-right: 5%;
  transition: all 0.2s ease-in-out;
}
nav img:hover {
  scale: 1.05;
}

ul {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

li {
  list-style: none;
  margin: 5px 3%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
  font-size: 18px;
}
li:hover {
  border-bottom: 2px solid #fff;
  color: #f87e65;
  scale: 1.1;
}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

button {
  background-color: #f87e65;
  color: #fff;
  padding: 8px 20px;
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid #f87e65;
}

button:hover {
  background: transparent;
  border: 1px solid #fff;
  box-shadow: 1px 1px 3px #fff;
  scale: 1.05;
}

.sign-in {
  background: transparent;
  border: none;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  justify-content: center;
  padding-right: 8%;
}

.left-header h1 {
  font-size: 53px;
  margin-bottom: 25px;
}

.left-header p {
  font-size: 13px;
  margin-right: 60px;
  margin-bottom: 30px;
  opacity: 0.7;
}

.learn-more {
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: -1px 1px 3px #fff;
  margin-left: 10px;
}

.home-button {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
}

.right-header {
  width: 50%;
}

/*  */
.right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-header-upper-container {
  height: 50%;
  display: flex;
}
.right-header-lower-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: center;
}

.dash {
  margin-right: 20px;
}

.right-header-lower-container h3 {
  width: 40%;
  font-size: 30px;
}

.arrow {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
