body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nabvar {
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 10px;
  background-color: rgb(149, 247, 247);
}

a {
  text-decoration: none;
  color: black;
}

.page {
  height: 90vh;
  width: 100vw;
}

.home {
  background-color: yellow;
}
.contact {
  background-color: pink;
}
.about {
  background-color: green;
}
